/.luarc.json
.quarto/
_quarto_internal_scss_error.scss

# --- MacOS Systemmüll (The Apple Trap) ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# VS Code Settings (optional, wenn du sie nicht teilen willst)
.vscode/